@page "/login"
@using Data
@inject AppDBContext _appDBContext
@inject NavigationManager _navigationManager
@inject UserService _userService
@using Microsoft.EntityFrameworkCore;

<EditForm Model="_userToLogin" OnValidSubmit="LoginF">
<h2 class="text-center">Login</h2>

    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input @bind="_userToLogin.UserName" type="text" class="form-control" id="Username" aria-describedby="UsernameHelp"> 
    </div>

    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input @bind="_userToLogin.UserPassword" type="password" class="form-control" id="Password">
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code{

    private CustomUser _userToLogin = new CustomUser
    {
       UserName = "",
       UserPassword = "",
    };

    /// Function/Method for Creating a User
    private async Task LoginF(){
        ///
        var user = await _appDBContext.CustomUsers.FirstOrDefaultAsync(element => element.UserName.Equals(_userToLogin.UserName));
        ///
        if(user != null){
          if(user.UserPassword == _userToLogin.UserPassword){
            /// Set Global User
            await SetUser(_userToLogin);
            /// Success
             _navigationManager.NavigateTo("/dashboard/home");
             return;
          }
          return;
        }
        Console.WriteLine("User Does not Exits");
    }

    /// Set Global User
    private async Task SetUser(CustomUser user){
        /// await _userService.SetGlobalUser(user);
        _userService.GlobalUser = user;
        Console.WriteLine("GLOBAL USER IS " + _userService.GlobalUser.UserName);
    }
}

