@page "/"
@layout AuthLayout
@inject NavigationManager _navigationManager
<PageTitle>Index</PageTitle>

<h1 class="text-center">Hi, there!</h1>

<SurveyPrompt Title="Welcome to Tanya's Content Management System(CMS)."/>


<div class="card text-center">
  <div class="card-header">
    About
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <button @onclick="@(e => GotoPage(1))" class="btn btn-primary">Sign Up</button>
    <button @onclick="@(e => GotoPage(2))" class="btn btn-primary">Login</button>
  </div>
  <div class="card-footer text-muted">
    C.M.S
  </div>
</div>
@code{
    private async Task GotoPage(int pageId){
        switch (pageId)
        {
            case 1:
                _navigationManager.NavigateTo("/signup");
                break;
            case 2:
                _navigationManager.NavigateTo("/login");
                break;
            default:
                break;
        }
        
    }
}