@using cms.Data
@inject UserService _userService
@inject NavigationManager _navigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">C.M.S</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard/home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="newsite">
                <span class="oi oi-plus" aria-hidden="true"></span> New Website
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="newpage">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard/myprofile">
                <span class="oi oi-person" aria-hidden="true"></span> Me
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout(){
        /// Clear the user Object
        //_userService.GlobalUser = new CustomUser();
        //_navigationManager.NavigateTo("/");
    }
}
