@page "/dashboard/home"
@using cms.Data
@inject UserService _userService
@inject NavigationManager _navigationManager
@inject AuthService _authService

@if(_authService.isAuthourized){ 

  <div class="card text-center">
    <div class="card-header">
      Welcome, 欢迎
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to your Dashboard @_userService.GlobalUser.UserName</h5>
      <p class="card-text">This is a Simple Content Management System created by Tanya</p>
      <a href="#" class="btn btn-primary">Get in touch</a>
    </div>
    <div class="card-footer text-muted">
      Warning
    </div>
  </div>

  <MySites/>

}





@code{

    
    //private bool isAuthourized = false;
    protected override async Task OnInitializedAsync()
    {
      
        /// Check if user is Authourized
        if(!_authService.isAuthourized){
          ///Not Logged in
          ///Reroute to Auth Page
          _navigationManager.NavigateTo("/login");
        }

    }
}